<!DOCTYPE html>
<html lang="es">
<!-- Prueba-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fontech</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="../../resources/css/administrador.css">
    
    <!-- Iconos de Boostrap-->
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
        <div class="container">
            <a class="navbar-brand d-flex justify-content-between align-items-center order-lg-0"
                href="../admin/dashboard.html">
                <img src="../../resources/img/carousel/image 67.png" class="logo img-fluid" alt="site icon">
            </a>

            <div class="order-lg-2 nav-btns">
                <button type="button" class="btn position-relative">
                    <i class="fa fa-search"></i>
                </button>
                <button type="button" onclick="redirect('../publica/Carrito.html')" class="btn position-relative">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge bg-primary"></span>
                </button>
                <button type="button" onclick="redirect('../publica/Miperfil.html')" class="btn position-relative">
                    <i class="fa fa-user"></i>
                </button>
            </div>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-lg-1" id="navMenu">
                <ul class="navbar-nav mx-auto text-center">

                </ul>
            </div>
        </div>
    </nav>
    <!-- Fin del navbar -->

    <!-- Separación entre navbar y sección de celulares -->
    <div class="my-5"></div>

    <!-- Celulares -->
    <section id="special" class="py-5">
        <div class="container">
            <div class="title text-center py-5">
                <h2 class="position-relative d-inline-block">Productos</h2>
            </div>


        </div>
    </section>
    <!-- Fin de Celulares -->

    <main>
        <!-- Título del contenido principal -->
        
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-x-square-fill"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>

        <!-- Tabla para mostrar los registros existentes -->
        <table class="table table-hover">
            <!-- Encabezado de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="4" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>id Producto</th>
                    <th>Nombre de producto</th>
                    <th>Descripción</th>
                    <th>Código interno</th>
                    <th>Referencia de proveedor</th>
                    <th>Precio</th>
                    <th>Imagen</th>


                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tableBody"></tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para guardar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idProducto" name="idProducto">
                            <div class="col-sm-12 col-md-6">
                                <label for="idProducto" class="form-label">id Producto</label>
                                <input id="idProducto" type="text" name="idProducto" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="Nproducto" class="form-label">Nombre de producto</label>
                                <input id="Nproducto" type="text" name="Nproducto" class="form-control">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="desP" class="form-label">Descripción</label>
                                <input id="desP" type="text" name="desP" class="form-control">

                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="Ci" class="form-label">Código interno</label>
                                <input id="Ci" type="text" name="Ci" class="form-control">

                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="Rproveed" class="form-label">Referencia de proveedor</label>
                                <input id="Rproveed" type="text" name="Rproveed" class="form-control">

                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="precioP" class="form-label">Precio</label>
                                <input id="precioP" type="number" name="precioP" class="form-control">

                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="imgProducto" class="form-label">Imagen</label>
                                <input id="imgProducto" type="file" name="imgProducto" class="form-control">

                            </div>



                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <br><br><br><br><br><br><br><br><br><br><br><br>
    <!-- footer -->
    <footer class="bg-dark py-5">
        <div class="container">
            <div class="row text-white g-4">





            </div>
        </div>
        </div>
    </footer>
    <!-- Fin del footer -->


     <!-- bootstrap js -->
     <script src="../../resources/js/bootstrap.bundle.min.js"></script>

     <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
 
     <script src="../../Recursos/js/Publica/Dashboard.js"></script>

    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>

    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>

    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/administrador.js"></script>


</body>

</html>