<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/LogoComods.png">
    <!-- Iconos de Boostrap-->
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">

    <!--css -->
    <link rel="stylesheet" href="../../resources/css/administrador.css">
</head>

<body>
    <!-- Separación entre navbar y sección de celulares -->
    <div class="my-5"></div>
    <br>
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle"></h3>
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-x-square-fill"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>

        <!-- Tabla para mostrar los registros existentes -->
        <table class="table table-hover">
            <!-- Encabezado de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="5" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre del producto</th>
                    <th>Código interno</th>
                    <th>Código del proveedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tableBody"></tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para guardar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idusuarioC" name="idusuarioC">
                            <div class="col-sm-12 col-md-6">
                                <label for="ImagenP" class="form-label">Imagen Producto</label>
                                <input id="ImagenP" type="file" name="ImagenP" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="nombreP" class="form-label">Nombre producto</label>
                                <input id="nombreP" type="text" name="nombreP" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="CodigoI" class="form-label">Código interno</label>
                                <input id="CodigoI" type="number" name="CodigoI" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="CodigoP" class="form-label">Código Proveedor</label>
                                <input id="CodigoP" type="number" name="CodigoP" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="MaterialP" class="form-label">Material</label>
                                <input id="MaterialP" type="text" name="MaterialP" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="DescP" class="form-label">Descripción</label>
                                <input id="DescP" type="text" name="DescP" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="Tallap" class="form-label">Talla</label>
                                <select id="Tallap" name="Tallap" class="form-control" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="ColorP" class="form-label">Color</label>
                                <select id="ColorP" name="ColorP" class="form-control" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="MarcaP" class="form-label">Marca</label>
                                <select id="MarcaP" name="MarcaP" class="form-control" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="CategoriaP" class="form-label">Categoría</label>
                                <select id="CategoriaP" name="CategoriaP" class="form-control" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="SubCateP" class="form-label">Género</label>
                                <select id="SubCateP" name="SubCateP" class="form-control" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="PrecioP" class="form-label">Precio</label>
                                <input id="PrecioP" type="number" name="PrecioP" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="ExistenciaP" class="form-label">Existencia</label>
                                <input id="ExistenciaP" type="number" name="ExistenciaP" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="DescuentoP" class="form-label">Descuento</label>
                                <select id="DescuentoP" name="DescuentoP" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- bootstrap js -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>

    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/admin/producto.js"></script>

</body>

</html>