@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --color: #a80505;
    --color2: #f8f66e;
}

body {
    font-family: var(--sm-font);

}

#map {
    height: 300px;
    /* Altura inicial del mapa */
    width: 100%;
    /* Ancho completo del contenedor */
} 
.navbar-brand .logo {
    /* Agrega los estilos deseados para la clase "logo" aquí */
    max-height: 50px;
    width: auto;
}

/* boton */
.bg-primary {
    background-color: var(--color) !important;
}

.btn:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}

.btn:not(.nav-btns button):hover {
    background-color: var(--color);
    color: #fff;
    border-color: var(--color);
}

/* text color */
.text-primary {
    color: var(--color) !important;
}

/* Estrellitas */
.Estrellita:hover {
    color: rgb(240, 240, 89);
}

/* Estrellita */
.Estrellita1 {
    color: rgb(240, 240, 89);
}

/* navbar */
.navbar {
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 30px;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.nav-link:hover {
    color: var(--color) !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* header */
#header {
    padding-top: 104px;

}

/* titulo*/
.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--color);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* Ofertas */
.special-img span {
    top: 20px;
    right: 20px;
}

.special-list .btn {
    padding: 8px 20px !important;
}

.special-img img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.special-img:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


/* footer */
footer .brand {
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

footer a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--color) !important;
}

/* media queries */
@media(min-width: 992px) {
    .nav-item {
        border-bottom: none;
    }
}

#mapa {
    width: 100%;
    height: 400px;
}

.justify-text {
    text-align: justify;
}


.search-form {
    background: #f8f9fa;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.1em;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.input-container {
    position: relative;
}

.input-container input {
    padding-right: 40px;
}

.input-container .icon-search {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #6c757d;
}

.chart-container {
    padding: 10px; /* Espacio interno opcional */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco semitransparente opcional */
    height: 400px; /* Altura fija para todos los gráficos */
}
canvas {
    max-width: 90%;
    max-height: 90%;
}

